# Format: #/name defines a new extras_require group called name
# Uncommented lines after the group definition insert things into that group.

#/animated_stickers
pillow>=4,<10

#/e2be
python-olm>=3,<4
unpaddedbase64>=1,<3

#/metrics
prometheus_client>=0.6,<0.18

#/proxy
pysocks
aiohttp-socks

#/weblogin
setuptools

#/sqlite
aiosqlite>=0.16,<0.20
